<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>u-commerce</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="assets/css/main.css" />

</head>
<body class="landing">

	<!-- Banner -->
	<section id="banner">
		<h2>Sell or Buy anything!</h2>
		<p>
			Are you ready to clear out your garage, attic or storage space? <br />
			"One man's trash is another man's treasure"!
		</p>
		<ul class="actions">
			<a th:href="sell" class="button special big">Start selling your
				trash today</a>
			<a th:href="buy" class="button special big">Start treasure
				hunting today</a>
		</ul>

	</section>

	<!-- One -->
	<section id="one" class="wrapper style1">
		<div class="container 75%">
			<div class="row 200%">
				<div class="6u 12u$(medium)">
					<header class="major">
						<h2>Why u-commerce?</h2>
						<p>The revolution of the century is here!</p>
					</header>
				</div>
				<div class="6u$ 12u$(medium)">
					<p>Join millions of people around the globe selling and
						shopping goods online by using our website.</p>
					<p>U-commerce brings convenience for customers as you do not
						have to leave home and only need to browse our website online,
						especially for buying the products which are not sold in nearby
						shops. Our online platform helps sellers and customers trade wider
						range of products and save everyone tremendous amount of time.</p>
					<p>Both sellers and consumers gain power through our user
						friendly interface. You are able to research through thousands of
						products and compare prices among various retailers at press of a
						button.</p>
				</div>
			</div>
		</div>
	</section>
	
<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<ul class="icons">
				<li><a href="https://www.facebook.com/"
					class="icon fa-facebook"></a></li>
				<li><a href="https://twitter.com/" class="icon fa-twitter"></a></li>
				<li><a href="https://www.instagram.com/"
					class="icon fa-instagram"></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; U-Commerce, LLC</li>
				<li>Design: by Mehmet Gokcek</li>
				<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
			</ul>
		</div>
	</footer>
	

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>